<style>
  # pdb_div_{{params.hgnc_id}} {
      width: auto;
  }
  #pdb_iframe_{{params.hgnc_id}} {
      width: 100%;
      max-width: calc(var(--togostanza-iframe-max-width) * 1px);
      min-height: calc(var(--togostanza-iframe-min-height) * 1px);
      max-height: calc(var(--togostanza-iframe-max-height) * 1px);
  }
  #pdb_select_{{params.hgnc_id}} {
      max-width: 100px;
  }
  #variant_select_{{params.hgnc_id}} {
      max-width: calc((var(--togostanza-iframe-width) - 300) * 1px);
  }
</style>

{{#if structure}}
<select id="pdb_select_{{params.hgnc_id}}">
  {{#each structure}}
  <option value="{{this.pdb}}">{{pdb}}</option>
  {{/each}}
</select>

<select id="variant_select_{{params.hgnc_id}}">
  {{#each variant}}
  <option value="{{this.id}}"{{#if this.sig}} class="cs_{{../params.hgnc_id}}"{{/if}}{{#if this.cs_class}} class="cs_{{../params.hgnc_id}}"{{/if}}>{{id}} {{this.label}}{{#if this.sig}} {{this.sig_label}}{{/if}}</option>
  {{/each}}
</select>
<input type="checkbox" id="variant_checkbox_{{params.hgnc_id}}">With clinical significance<br>

<div id="pdb_div_{{params.hgnc_id}}">
  <iframe src="{{url}}" id="pdb_iframe_{{params.hgnc_id}}" width="800" height="500"></iframe>
</div>
<p class="pdb_info" id="pdb_refine_{{params.hgnc_id}}"></p>
{{else}}
<p class="pdb_info">No PDB</p>
{{/if}}
