{{#with error}}
  <div class='alert alert-danger'>{{message}}</div>
{{else}}
  {{#with result}}
    <div class='variant-frequency-scroll'>
      <table class='table frequency-detail'>
      <thead>
        <tr>
          <th rowspan='2'>Dataset</th>
          <th rowspan='2'>Population</th>
          <th colspan='4'>Allele count</th>
          <th colspan='{{#if ../hasHemizygote}}9{{else}}6{{/if}}'>Genotype count</th>
          <th class='filter_status' rowspan='2'>Filter status</th>
          <th rowspan='2'>Quality score</th>
        </tr>
        <tr>
          <th class='alt num-th'>Alt</th>
          <th class='num-th'>Total</th>
          <th class='frequency num-th'>Frequency</th>
          <th></th>
          <th class='num_genotype_alt_homo alt num-th'>Alt / Alt</th>
          <th class='num_genotype_hetero num-th'>Alt / Ref</th>
          <th class='num_genotype_alt_otheralts num-th'>Alt/OtherAlts</th>
          <th class='num_genotype_ref_homo num-th'>Ref / Ref</th>
          <th class='num_genotype_ref_otheralts num-th'>Ref/OtherAlts</th>
          <th class='num_genotype_otheralts_otheralts num-th'>Other_Alts/Other_Alts</th>
          {{#if ../hasHemizygote}}
            <th class='num_genotype_hemi_alt num-th'>Hemi_Alt</th>
            <th class='num_genotype_hemi_ref num-th'>Hemi_Ref</th>
            <th class='num_genotype_hemi_otheralts num-th'>Hemi_Other_Alts</th>
          {{/if}}
        </tr>
      </thead>
      <tbody>
        {{#if resultObject}}
          {{#each resultObject}}
            <tr data-depth='{{depth}}'>
              <td
                class='dataset'
                data-depth='{{depth}}'
                data-has-child='{{has_child}}'
              >
                <div
                  class='dataset-icon'
                  data-dataset='{{source}}'
                >
                </div>
                  {{dataset}}
              </td>
              <td
                class='population'
                data-dataset='{{dataset}}'
                data-id='{{id}}'
                data-parent-id='{{parent_id}}'
                data-grandparent-id='{{grandparent_id}}'
                data-depth='{{depth}}'
                data-has-child='{{has_child}}'
              >
              {{#if need_loading}}
                <span class="lock"></span>
              {{/if}}
                {{label}}
              </td>
              <td class='num_alt_alleles'>{{ac}}
                {{#if ac}}
                  <span class='slash'>
                    /
                  </span>
                {{/if}}
                {{#if need_loading}}
                  <span class='comment'>
                    <a href="/auth/login">Login</a> to view allele and genotype counts
                  </span>
                {{/if}}
              </td>
              <td class='num_alleles'>{{an}}</td>
              <td class='frequency'>{{frequency}}</td>
              <td class='frequency-graph'>
                {{#if level}}
                  <div class='allele-frequency-graph'>
                    <span
                      class='dataset'
                      data-frequency='{{level}}'
                      data-dataset='{{dataset}}'
                    ></span>
                  </div>
                {{/if}}
              </td>
              <td class='num_genotype_alt_homo num-td'>{{aac}}</td>
              <td class='num_genotype_hetero num-td'>{{arc}}</td>
              <td class='num_genotype_alt_otheralts num-td'>{{aoc}}</td>
              <td class='num_genotype_ref_homo num-td'>{{rrc}}</td>
              <td class='num_genotype_ref_otheralts num-td'>{{roc}}</td>
              <td class='num_genotype_otheralts_otheralts num-td'>{{ooc}}</td>
              {{#if ../../hasHemizygote}}
                <td class='num_genotype_hemi_alt num-td'>{{hac}}</td>
                <td class='num_genotype_hemi_ref num-td'>{{hrc}}</td>
                <td class='num_genotype_hemi_otheralts num-td'>{{hoc}}</td>
              {{/if}}
              <td class='filter' data-filter='{{filter}}'>{{filter}}</td>
              <td class='quality'>{{quality}}</td>
            </tr>
          {{/each}}
        {{else}}
          <tr><td colspan="11" class="nodata-message">{{../params.no_data_message}}</td></tr>
        {{/if}}
      </tbody>
      </table>
    </div>
  {{/with}}
{{/with}}