{{#with error}}
  <div class="alert alert-danger">{{message}}</div>
{{else}}
  {{#with result}}
    <div class="within-sticky-table-header">
      <table class="table other_alternative_alleles">
        <thead>
        <tr>
          <th>TogoVar ID</th>
          <th>RefSNP ID</th>
          <th>Position</th>
          <th>Ref / Alt</th>
          <th>Type</th>
          <th>Gene</th>
          <th>Alt frequency</th>
          <th>Consequence</th>
          <th>SIFT</th>
          <th>PolyPhen</th>
          <th>Clinical Significance</th>
        </tr>
        </thead>
        <tbody>
        {{#each data}}
          <tr>
            <td class="id">
              <a href="/variant/{{id}}">
                {{id}}
              </a>
            </td>
            <td class="dbsnp">
              <a href="https://identifiers.org/dbsnp/{{dbsnp}}">
                {{dbsnp}}
              </a>
              {{#if dbsnp_badge}}
                <span class="badge">{{dbsnp_badge}}</span>
              {{/if}}
            </td>
            <td class="chromosome">
              <span>{{chromosome}}: </span>{{start}}
            </td>
            <td>
              <div class="ref-alt">
                <span class='ref' data-sum='{{ref_length}}'>{{ref}}</span><span class='arrow'></span><span
                  class='alt' data-sum='{{alt_length}}'>{{alt}}</span>
              </div>
            </td>
            <td class="type">{{type}}</td>
            <td class="gene">
              {{#each symbols}}
                <a href="https://identifiers.org/hgnc/{{id}}">{{name}}</a>
              {{/each}}
            </td>
            <td class="frequency">
              <div class="frequency-graph">
                {{#each frequencies}}
                  <div class="dataset" data-dataset="{{this.source}}" data-frequency="{{this.level}}"></div>
                {{/each}}
              </div>
            </td>
            <td class="consequence">
              {{most_severe_consequence}}
              {{#if consequence_badge}}
                <span class="badge">{{consequence_badge}}</span>
              {{/if}}
            </td>
            <td class="sift">
              <span class="variant-function" data-function="{{sift_class}}">{{sift}}</span>
            </td>
            <td class="polyphen">
              <span class="variant-function" data-function="{{polyphen_class}}">{{polyphen}}</span>
            </td>
            <td class="clinical_significance_wrapper">
              {{#if significance}}
                <span class="clinical-significance" data-sign="{{significance.interpretation}}">
                  {{significance.condition}}
                </span>
                {{#if significance_badge}}
                  <span class="badge">{{significance_badge}}</span>
                {{/if}}
              {{/if}}
            </td>
          </tr>
        {{else}}
          <tr>
            <td class="text-center" colspan="8">No data</td>
          </tr>
        {{/each}}
        </tbody>
      </table>
    </div>
  {{/with}}
{{/with}}
